﻿@model IEnumerable<CInventory.Models.tblProductType>

@{
    ViewBag.Title = "Item Groups";
    Layout = "~/Views/Shared/_sideMenu.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<!--BREADCRUMBS STARTS-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Dashboard/">Dashboard</a><i class="fa fa-angle-right"></i>Item Groups</li>
</ol>
<!--BREADCRUMBS ENDS-->
<div class="agile-grids">
    <!-- tables -->
    <div class="agile-tables">
        <div class="w3l-table-info">
            <div id="isSuccess" class="alert alert-success collapse">
                <a href="#" id="isAlertClose" class="close">&times;</a>
                <strong>Success:</strong> Item Group Created successfully.
            </div>
            <!--Deleted Msg Alert-->
            <div id="isDelAlert" class="alert alert-info collapse">
                <a href="#" id="isAlertClose" class="close">&times;</a>
                <strong>Success:</strong> Category Deleted successfully.
            </div>
            <style>
                .hvr-icon-float-away {
                    background-color: orangered;
                    padding: 5px;
                    padding-left: 10px;
                    border-radius: 5px;
                    padding-right: 35px;
                }
            </style>
            <p>
                <a href="#" id="btnShowModal" class="hvr-icon-float-away col-24 btn-danger" onclick="groupModal">New Group</a>
            </p>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                            Item Groups
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                            Created By
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.typeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createdOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createdBy)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            <a href='#' onclick="btnShowModal(@item.ID)">Delete</a>
                            @*Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

<!--------------------- Modal ------------------------>
<style>
    .modal-header {
        background-color: #FAF7F7;
        color: #302E2E;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
     .modal-delete i {
        display: block;
        text-align: center;
        position: center;
        margin-right: 0px !important;
        color: firebrick;
        font-size: 40px;
    }

    .modal-delete p {
        text-align: center;
        font: 600;
    }
    .btn-success{
        background-color: #CF0F0C;
        border-radius: 6px;
    }
    .btn-primary{
        background-color:darkgreen;
        border-radius: 6px;
    }
</style>
<div class="modal fade" tabindex="-1" id="groupModal"
     data-keyboard="false" data-backdrop="static">
    <div></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Create New Item Group</h4>
            </div>
            <div class="modal-body">
                <form id="createGroup">
                    <label>Group Name</label>
                    <input type="text" id="groupName" name="groupName" class="form-control" placeholder="Name" required />

                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary submitbtn button button4" id="btnHideModal">Cancel</button>
                <button type="button" class="btn btn-success" id="btnCreate">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--------------------- Modal Delete------------------------>
<div class="modal fade" tabindex="-1" id="deletingGroup"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Delete Item</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="modal-delete">
                        <i class="fa fa-exclamation-triangle"></i><br />
                        <p class="small">ARE YOU SURE YOU WANT TO DELETE ?</p>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submitbtn button button4" id="delModalHide">Cancel</button>
                <a href="#" class="btn btn-success" onclick="deleting()">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>
<!--HIDDEN INPUTS-->
<input type="hidden" id="deleteGroup" />

<!-----------------------Scripts------------------------------>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#groupModal").modal('show');
        });
        $("#delModalHide").click(function () {
            $("#deletingGroup").modal("hide");
        })

        $("#btnHideModal").click(function () {
            $("#groupModal").modal('hide');
        });

        //making of ajax post call
        $("#btnCreate").click(function () {
            var formData = $("#createGroup").serialize();
            var isName = $("#groupName").val();
            if (isName == "" || isName == undefined) {
                alert("Kindly fill out group name!");

                return false;
            }
            $("#catModal").validate({

                submitHandler: $.ajax({
                    type: "POST",
                    url: "/Group/Create",
                    data: formData,
                    success: function () {
                        $("#groupModal").modal('hide');
                        $("#isSuccess").show("fade");
                        setTimeout(function () {
                            $("#isSuccess").hide("fade");
                            location.reload();
                        }, 3000)
                    }
                })
            })
        })
        $("#isAlertClose").click(function () {

            $("#isCatSuccess").hide("fade");
        })

    });
</script>
<script>
    //Delete Modal script
    var btnShowModal = function (ID) {
        $("#deleteGroup").val(ID);
        $("#deletingGroup").modal("show");
    }
    var deleting = function () {
        var isID = $("#deleteGroup").val();
        $.ajax({
            type: "POST",
            url: "/Group/Delete",
            data: { id: isID },
            success: function () {
                $("#deletingGroup").modal("hide");
                $("#isDelAlert").show("fade");
                setTimeout(function () {
                    $("#isDelAlert").hide("fade");
                    location.reload();
                }, 2000)
            }
        })
    }
</script>