﻿@model IEnumerable<CInventory.Models.tblCompanies>

@{
    ViewBag.title = "User Home";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}
<div class="content">
    <div class="row gutters-tiny invisible" data-toggle="appear">
        <!-- Row #1 -->

        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-link-shadow text-center" href="#">
                <div class="block-content ribbon ribbon-bookmark ribbon-success ribbon-left">
                    <div class="ribbon-box">15</div>
                    <p class="mt-5">
                        <i class="si si-book-open fa-3x"></i>
                    </p>
                    <p class="font-w600">Products</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-link-shadow text-center" href="javascript:void(0)">
                <div class="block-content">
                    <p class="mt-5">
                        <i class="si si-plus fa-3x"></i>
                    </p>
                    <p class="font-w600">New Product</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-link-shadow text-center" href="#">
                <div class="block-content ribbon ribbon-bookmark ribbon-danger ribbon-left">
                    <div class="ribbon-box">16</div>
                    <p class="mt-5">
                        <i class="si si-bubbles fa-3x"></i>
                    </p>
                    <p class="font-w600 ">Orders</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-link-shadow text-center" href="#">
                <div class="block-content">
                    <p class="mt-5">
                        <i class="si si-plus fa-3x"></i>
                    </p>
                    <p class="font-w600">New Order</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-link-shadow text-center" href="#">
                <div class="block-content">
                    <p class="mt-5">
                        <i class="si si-bar-chart fa-3x"></i>
                    </p>
                    <p class="font-w600">Statistics</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-link-shadow text-center" href="javascript:void(0)">
                <div class="block-content">
                    <p class="mt-5">
                        <i class="si si-settings fa-3x"></i>
                    </p>
                    <p class="font-w600">Settings</p>
                </div>
            </a>
        </div>
        <!-- END Row #1 -->
    </div>
    <div class="row gutters-tiny invisible" data-toggle="appear">
        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-link-shadow text-center" href="javascript:void(0)">
                <div class="block-content ribbon ribbon-bookmark ribbon-primary ribbon-left">
                    <div class="ribbon-box">16</div>
                    <p class="mt-5">
                        <i class="si si-users fa-3x"></i>
                    </p>
                    <p class="font-w600">Customers</p>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-4 col-xl-2">
            <a class="block block-link-shadow text-center" href="#">
                <div class="block-content ribbon ribbon-bookmark ribbon-warning ribbon-left">
                    <div class="ribbon-box">16</div>
                    <p class="mt-5">
                        <i class="si si-user fa-3x"></i>
                    </p>
                    <p class="font-w600 ">Vendors</p>
                </div>
            </a>
        </div>
    </div>

    <div class="row gutters-tiny invisible" data-toggle="appear">
        <!-- Row #3 -->
        <div class="col-xl-8 d-flex align-items-stretch">
            <div class="block block-themed block-mode-loading-inverse block-transparent bg-image w-100" style="background-image: url('../../Content/media/photos/photo34@2x.jpg');">
                <div class="block-header bg-black-op">
                    <h3 class="block-title">
                        Sales <small>This week</small>
                    </h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-toggle="block-option" data-action="state_toggle" data-action-mode="demo">
                            <i class="si si-refresh"></i>
                        </button>
                        <button type="button" class="btn-block-option">
                            <i class="si si-wrench"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content bg-black-op">
                    <div class="pull-r-l">
                        <!-- Lines Chart Container functionality is initialized in js/pages/be_pages_dashboard.min.js which was auto compiled from _es6/pages/be_pages_dashboard.js -->
                        <!-- For more info and examples you can check out http://www.chartjs.org/docs/ -->
                        <canvas class="js-chartjs-dashboard-lines"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 d-flex align-items-stretch">
            <div class="block block-transparent bg-primary-dark d-flex align-items-center w-100">
                <div class="block-content block-content-full">
                    <div class="py-15 px-20 clearfix border-black-op-b">
                        <div class="float-right mt-15 d-none d-sm-block">
                            <i class="si si-book-open fa-2x text-success"></i>
                        </div>
                        <div class="font-size-h3 font-w600 text-success" data-toggle="countTo" data-speed="1000" data-to="750">0</div>
                        <div class="font-size-sm font-w600 text-uppercase text-success-light">Total Orders</div>
                    </div>

                    <div class="py-15 px-20 clearfix border-black-op-b">
                        <div class="float-right mt-15 d-none d-sm-block">
                            <i class="si si-envelope-open fa-2x text-danger"></i>
                        </div>
                        <div class="font-size-h3 font-w600 text-danger" data-toggle="countTo" data-speed="1000" data-to="38">0</div>
                        <div class="font-size-sm font-w600 text-uppercase text-danger-light">Pending Orders</div>
                    </div>
                    <div class="py-15 px-20 clearfix border-black-op-b">
                        <div class="float-right mt-15 d-none d-sm-block">
                            <i class="si si-wallet fa-2x text-warning"></i>
                        </div>
                        <div class="font-size-h3 font-w600 text-warning">$<span data-toggle="countTo" data-speed="1000" data-to="980">0</span></div>
                        <div class="font-size-sm font-w600 text-uppercase text-warning-light">Made This Month</div>
                    </div>
                    <div class="py-15 px-20 clearfix border-black-op-b">
                        <div class="float-right mt-15 d-none d-sm-block">
                            <i class="si si-users fa-2x text-info"></i>
                        </div>
                        <div class="font-size-h3 font-w600 text-info" data-toggle="countTo" data-speed="1000" data-to="260">0</div>
                        <div class="font-size-sm font-w600 text-uppercase text-info-light">Online</div>
                    </div>
                    <div class="py-15 px-20 clearfix">
                        <div class="float-right mt-15 d-none d-sm-block">
                            <i class="si si-drop fa-2x text-elegance"></i>
                        </div>
                        <div class="font-size-h3 font-w600 text-elegance" data-toggle="countTo" data-speed="1000" data-to="59">0</div>
                        <div class="font-size-sm font-w600 text-uppercase text-elegance-light">Themes</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Row #3 -->
    </div>
    <div class="row gutters-tiny invisible" data-toggle="appear">
        <!-- Row #4 -->
        <div class="col-md-4">
            <div class="block block-transparent bg-primary">
                <div class="block-content block-content-full">
                    <div class="py-20 text-center">
                        <div class="mb-20">
                            <i class="fa fa-envelope-open fa-4x text-primary-light"></i>
                        </div>
                        <div class="font-size-h4 font-w600 text-white">19.5k Subscribers</div>
                        <div class="text-white-op">Your main list is growing!</div>
                        <div class="pt-20">
                            <a class="btn btn-rounded btn-alt-primary" href="javascript:void(0)">
                                <i class="fa fa-cog mr-5"></i> Manage list
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-transparent bg-info">
                <div class="block-content block-content-full">
                    <div class="py-20 text-center">
                        <div class="mb-20">
                            <i class="fa fa-twitter fa-4x text-info-light"></i>
                        </div>
                        <div class="font-size-h4 font-w600 text-white">+98 followers</div>
                        <div class="text-white-op">You are doing great!</div>
                        <div class="pt-20">
                            <a class="btn btn-rounded btn-alt-info" href="javascript:void(0)">
                                <i class="fa fa-users mr-5"></i> Check them out
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="block block-transparent bg-success">
                <div class="block-content block-content-full">
                    <div class="py-20 text-center">
                        <div class="mb-20">
                            <i class="fa fa-check fa-4x text-success-light"></i>
                        </div>
                        <div class="font-size-h4 font-w600 text-white">Personal Plan</div>
                        <div class=" text-white-op">This is your current active plan</div>
                        <div class="pt-20">
                            <a class="btn btn-rounded btn-alt-success" href="javascript:void(0)">
                                <i class="fa fa-arrow-up mr-5"></i> Upgrade to VIP
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Row #4 -->
    </div>
</div>

<!-- Page JS Plugins -->
<script src="~/Scripts/plugins/chartjs/Chart.bundle.min.js"></script>

<!-- Page JS Code -->
<script src="~/Scripts/pages/be_pages_dashboard.min.js"></script>