﻿@using Microsoft.AspNet.Identity;
@model IEnumerable<CInventory.Models.tblOrders>


@if (Request.IsAuthenticated)
{

    ViewBag.Title = "All Orders";

    Layout = "~/Views/Shared/_sideMenu.cshtml";


    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    //<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--BREADCRUMBS STARTS-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Dashboard/">Dashboard</a><i class="fa fa-angle-right"></i>@ViewBag.Title</li>
    </ol>
    <!--BREADCRUMBS ENDS-->

<div class="agile-grids">
    <!-- tables -->
    <div class="agile-tables">
        <div class="w3l-table-info">
            <h4><b>Categories</b></h4> <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            <table id="table">
                <thead>
                    <tr>
                        <th>
                           Order Number
                        </th>
                        <th>
                            Order Status
                        </th>
                        <th>
                            Qty
                        </th>
                        <th>
                            Total Price
                        </th>
                        <th>
                            Added On
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <strong>
                                @Html.DisplayFor(modelItem => item.orderNo)
                            </strong>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orderStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.totalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createdOn)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
  
}