﻿@using Microsoft.AspNet.Identity;
@model IEnumerable<CInventory.Models.tblCategories>


<style>
    .modal-delete i {
        display: block;
        text-align: center;
        position: center;
        margin-right: 0px !important;
        color: firebrick;
        font-size: 40px;
    }

    .modal-delete p {
        text-align: center;
        font: 600;
    }
</style>

@if (Request.IsAuthenticated)
{
    ViewBag.Title = "Category Manager";
    Layout = "~/Views/Shared/_sideMenu.cshtml";

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    //<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--BREADCRUMBS STARTS-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Dashboard/">Dashboard</a><i class="fa fa-angle-right"></i>Product Categories</li>
    </ol>
    <!--BREADCRUMBS ENDS-->

    <div class="agile-grids">
        <!-- tables -->
        <div class="agile-tables">
            <div class="w3l-table-info">

                <div id="isCatSuccess" class="alert alert-success collapse">
                    <a href="#" id="isAlertClose" class="close">&times;</a>
                    <strong>Success:</strong> Category Created successfully.
                </div>
                <!--Deleted Msg Alert-->
                <div id="isDelAlert" class="alert alert-info collapse">
                    <a href="#" id="isAlertClose" class="close">&times;</a>
                    <strong>Success:</strong> Category Deleted successfully.
                </div>
                <h4><b>Categories</b></h4> <p>
                    <a href="#" id="btnShowModal" onclick="catModal">Create Category</a>
                </p>
                <table id="table">
                    <thead>
                        <tr>
                            <th>
                                Category Name
                            </th>
                            <th>
                                Date Added
                            </th>
                            <th>
                                Added By
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <strong>
                                        @Html.DisplayFor(modelItem => item.categoryName)
                                    </strong>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdOn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.createdBy)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    <div class="col-md-2"><a href='#' onclick="btnShowModal(@item.ID)"><i class="fa fa-trash text-danger"></i></a></div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


}

<!--------------------- Modal ------------------------>
<style>
    .modal-header {
        background-color: crimson;
        color: #ffffff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
</style>
<div class="modal fade" tabindex="-1" id="catModal"
     data-keyboard="false" data-backdrop="static">
    <div></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Create New Caategory</h4>
            </div>
            <div class="modal-body">
                <form id="createCat">
                    <label>Category Name</label>
                    <input type="text" id="isCatName" name="isCatName" class="form-control" placeholder="Name" required />
                    
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary submitbtn button button4" id="btnHideModal">Cancel</button>
                <button type="button" class="btn btn-success" id="btnCreate">Submit</button>
            </div>
        </div>
    </div>
</div>
<!--------------------- Modal Delete------------------------>
<div class="modal fade" tabindex="-1" id="deletingCat"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Delete Item</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="modal-delete">
                        <i class="fa fa-exclamation-triangle"></i><br />
                        <p class="small">ARE YOU SURE YOU WANT TO DELETE ?</p>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submitbtn button button4" id="delModalHide">Cancel</button>
                <a href="#" class="btn btn-success" onclick="deleting()">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>
<!--HIDDEN INPUTS-->
<input type="hidden" id="delCat" />

<!---MODAL SCRIPT-->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#catModal").modal('show');
        });
        $("#delModalHide").click(function () {
            $("#deletingCat").modal("hide");
        })

        $("#btnHideModal").click(function () {
            $("#catModal").modal('hide');
        });

        //making of ajax post call
        $("#btnCreate").click(function () {
            var formData = $("#createCat").serialize();
            var isName = $("#isCatName").val();
            if (isName == "" || isName == undefined) {
                alert("Kindly fill out category name!");
                return false;
            }
            $("#catModal").validate({

                submitHandler: $.ajax({
                    type: "POST",
                    url: "/Categories/Create",
                    data: formData,
                    success: function () {
                        $("#catModal").modal('hide');
                        $("#isCatSuccess").show("fade");
                        setTimeout(function () {
                            $("#isCatSuccess").hide("fade");
                            location.reload();
                        }, 3000)
                    }
                })
            })
        })
        $("#isAlertClose").click(function () {

            $("#isCatSuccess").hide("fade");
        })

    });
</script>
<script>
    //Delete Modal script
    var btnShowModal = function (ID) {
        $("#delCat").val(ID);
        $("#deletingCat").modal("show");
    }
    var deleting = function () {
        var isID = $("#delCat").val();
        $.ajax({
            type: "POST",
            url: "/Categories/Delete",
            data: { id: isID },
            success: function () {
                $("#deletingCat").modal("hide");
                $("#isDelAlert").show("fade");
                setTimeout(function () {
                    $("#isDelAlert").hide("fade");
                    location.reload();
                }, 4000)
            }
        })
    }
</script>
