﻿@model CInventory.Models.tblCompanies

@{
    ViewBag.title = "Company Registration";
    Layout = "~/Views/Shared/_globalAdminHead.cshtml";
}
<!--breadcrumb starts-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Companies">Companies</a><i class="fa fa-angle-right"></i>Register <i class="fa fa-angle-right"></i> New Company</li>
</ol>
<!--breadcrumb ends-->

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="grid-form1 form-horizontal">
        <h3 class="forms-controls-static">Registring New Company</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="inputCompanyName" class="col-sm-2 control-label hor-form">Company Name</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.companyName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Name" } })
                @Html.ValidationMessageFor(model => model.companyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputCompanyAddress" class="col-sm-2 control-label hor-form">Company Address</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.companyAddress, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Address" } })
                @Html.ValidationMessageFor(model => model.companyAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputContactNumber" class="col-sm-2 control-label hor-form">Contact Number</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.companyContactNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "contact number" } })
                @Html.ValidationMessageFor(model => model.companyContactNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputCompanySlogan" class="col-sm-2 control-label hor-form">Company Slogan</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.companySlogan, new { htmlAttributes = new { @class = "form-control", @placeholder = "slogan (optional)" } })
                @Html.ValidationMessageFor(model => model.companySlogan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputCompanyEmail" class="col-sm-2 control-label hor-form">Company Email</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.companyEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Email Address" } })
                @Html.ValidationMessageFor(model => model.companyEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputCompanyName" class="col-sm-2 control-label hor-form">Company Website</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.companyWebsite, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Website Address(optional)" } })
                @Html.ValidationMessageFor(model => model.companyWebsite, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputCompanyName" class="col-sm-2 control-label hor-form">Admin Email</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.companyAdminEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Admin Email Address" } })
                @Html.ValidationMessageFor(model => model.companyAdminEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="inputCompanyName" class="col-sm-2 control-label hor-form">Admin Password</label>
            <div class="col-sm-8">
                @Html.EditorFor(model => model.companyAdminAuth, new { htmlAttributes = new { @class = "form-control", @placeholder = "Admin Password", @type = "password" } })
                @Html.ValidationMessageFor(model => model.companyAdminAuth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.companyID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-8">
                @Html.HiddenFor(model => model.companyID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Name", InputType = "hidden" } })
                @Html.ValidationMessageFor(model => model.companyID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="selector1" class="col-sm-2 control-label">Subscription</label>
            <div class="col-sm-8">
                <select name="subscription" id="selector1" class="form-control1">
                    <option value="">Select Package</option>
                    <option value="Basic">Basic</option>
                    <option value="Gold">Gold</option>
                    <option value="Unlimited">Unlimited</option>
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.subscription, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>