﻿@model CInventory.Models.tblCompanies

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>tblCompanies</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.companyName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companyName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.companyAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companyAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.companyContactNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companyContactNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.companySlogan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companySlogan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.companyEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companyEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.companyWebsite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companyWebsite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.companyAdminEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companyAdminEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.companyAdminAuth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companyAdminAuth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.companyID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.companyID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createdOn)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createdOn)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.subscription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subscription)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
