﻿@model CInventory.Models.tblCompanies

@{
    ViewBag.title = "Company Details";
    Layout = "~/Views/Shared/_globalAdminHead.cshtml";
}
<!--BREADCRUMBS STARTS-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Companies">Companies</a><i class="fa fa-angle-right"></i>Details</li>
</ol>
<!--BREADCRUMBS ENDS-->
<div class="panel1 panel-widget top-grids">
    <div class="chute chute-center text-center">
        <div>
            <div class="row mb40">
                <div class="col-md-12">
                    <div class="demo-grid" style="background-color:orangered; color:#fff; border:0px !important;">
                        <h4>@Html.DisplayFor(model => model.companyName)</h4>
                    </div>
                </div>
            </div>
            <hr />
            <div class="dl-horizontal">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/Content/img/company.png" height="220" width="180" />
                    </div>
                    <style>
                        .d_title {
                            font: 800;
                            text-align: right;
                            font-weight: 900;
                            color: midnightblue;
                        }

                        .pd {
                            margin-bottom: 10px;
                        }
                    </style>
                    <div class="col-md-8">
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Address:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.companyAddress)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Contact Number:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.companyContactNo)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Company Slogan:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.companySlogan)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Company Email Address:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.companyEmail)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Company Website:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.companyWebsite)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Admin Email:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.companyAdminEmail)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Admin Auth:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.companyAdminAuth)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Company ID:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.companyID)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Created On:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.createdOn)
                            </div>
                        </div>
                        <div class="row pd">
                            <div class="col-md-4">
                                <div class="d_title">Current Subscription:</div>
                            </div>
                            <div class="col-lg-6">
                                @Html.DisplayFor(model => model.subscription)
                            </div>
                        </div>

                    </div>
                </div>






            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>



