﻿@model IEnumerable<CInventory.Models.tblCompanies>

@{
    ViewBag.title = "Companies";
    Layout = "~/Views/Shared/_globalAdminHead.cshtml";
}
<style>
    .button {
        /*background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        margin: 2px 2px;
        cursor: pointer;
    }

    .submitbtn {
        background-color: #0094ff; /* Green */
    }

    .closemodal {
        background-color: red; /* red */
    }

    .button1 {
        border-radius: 2px;
    }

    .button2 {
        border-radius: 4px;
    }

    .button3 {
        border-radius: 8px;
    }

    .button4 {
        border-radius: 12px;
    }

    .button5 {
        border-radius: 50%;
    }

    .modal-delete i {
        display: block;
        text-align: center;
        position: center;
        margin-right: 0px !important;
        color: firebrick;
        font-size: 40px;
    }

    .modal-delete p {
        text-align: center;
        font: 600;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').basictable();

        $('#table-breakpoint').basictable({
            breakpoint: 768
        });

        $('#table-swap-axis').basictable({
            swapAxis: true
        });

        $('#table-force-off').basictable({
            forceResponsive: false
        });

        $('#table-no-resize').basictable({
            noResize: true
        });

        $('#table-two-axis').basictable();

        $('#table-max-height').basictable({
            tableWrapper: true
        });
    });
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<!--BREADCRUMBS STARTS-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a><i class="fa fa-angle-right"></i>Registered Companies</li>
</ol>
<!--BREADCRUMBS ENDS-->
<div class="agile-grids">
    <!-- tables -->

    <div class="agile-tables">
        <div class="w3l-table-info">
            <h4><b>COMPANIES</b></h4><p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table id="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact</th>

                        <th>Admin Email</th>
                        <th>Subscription</th>
                        <th>Created On</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table">
                            <td>@Html.DisplayFor(modelItem => item.companyName)</td>
                            <td>@Html.DisplayFor(modelItem => item.companyContactNo)</td>

                            <td>@Html.DisplayFor(modelItem => item.companyAdminEmail)</td>
                            <td>@Html.DisplayFor(modelItem => item.subscription)</td>
                            <td>@Html.DisplayFor(modelItem => item.createdOn)</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-2"><a href='~/Companies/Edit/@item.ID'><i class="fa fa-edit text-primary"></i></a></div>
                                    <div class="col-md-2"><a href='~/Companies/Details/@item.ID'><i class="fa fa-eye text-warning"></i></a></div>
                                    <div class="col-md-2"><a href='#' onclick="btnShowModal(@item.ID)"><i class="fa fa-trash text-danger"></i></a></div>
                                </div>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@* Hidden input *@
<input type="hidden" id="deletingCompanyID" />

<!--LIST ENDS HERE -->
<!--------------------- Modal ------------------------>
<div class="modal fade" tabindex="-1" id="deletingModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Delete Item</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="modal-delete">
                        <i class="fa fa-exclamation-triangle"></i><br />
                        <p>ARE YOU SURE YOU WANT TO DELETE ?</p>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary submitbtn button button4" id="btnHideModal">Cancel</button>
                <a href="#" class="btn btn-danger closemodal button button4" onclick="deleting()">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

<!--*******************************************************************************-->
<!---MODAL SCRIPT-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
   /* $(document).ready(function () {
        $("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
        });

        $("#btnHideModal").click(function () {
            $("#deletingModal").modal('hide');
        });
    });*/
</script>
<script>
    var btnShowModal = function (ID) {
        $("#deletingCompanyID").val(ID);
        $("#deletingModal").modal("show");
    }
    var deleting = function () {
        var isID = $("#deletingCompanyID").val();
        $.ajax({
            type: "POST",
            url: "/Companies/Delete",
            data: { id: isID },
            success: function () {
                $("#deletingModal").modal("hide");
            }
        })
    }
</script>
