﻿@model CInventory.Models.tblProducts

@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_sideMenu.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Dashboard/">Dashboard</a><i class="fa fa-angle-right"></i><a href="~/Products/">Products</a><i class="fa fa-angle-right"></i>Add New</li>
</ol>

<div class="grid-form1">
    <div class="grid-form1">
        @using (Html.BeginForm ("Create",  "Products",  FormMethod.Post,  new { enctype = "multipart/form-data" }))
        {
           
            @Html.AntiForgeryToken()

        <div class="">
            @*@if (ViewBag.GroupList < 1 || ViewBag.CategoryList < 1)
            {
            <h6 id="forms-example" class="">one is empty</h6>
            }*@
            <h2 id="forms-example" class="">Add Product</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                <label for="productName" class="col-md-2">Product Name</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control", placeholder = "What's the product name ?" } })
                    @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="productCode" class="col-md-2">Product Code</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.productCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Scan or manually enter product bar-code." } })
                    @Html.ValidationMessageFor(model => model.productCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="productType" class="col-md-2">Product Group</label>
                <div class="col-md-8">
                    @if (ViewBag.GroupList != null)
                    {
                        @Html.DropDownListFor(m => m.productType, ViewBag.GroupList as SelectList, "--select group--", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.productType, "", new { @class = "text-danger" })
                    }
                </div>
            </div>

            <div class="form-group row">
                <label for="productCat" class="col-md-2">Product Category</label>
                <div class="col-md-8">
                    @if (ViewBag.CategoryList != null)
                    {
                        @Html.DropDownListFor(m => m.productCategory, ViewBag.CategoryList as SelectList, "--select category--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.productCategory, "", new { @class = "text-danger" })
                    }

                </div>
            </div>

            <div class="form-group row">
                <label for="price" class="col-md-2">Per Unit Price</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.productPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "purchase price per unit e.g, 20000 " } })
                    @Html.ValidationMessageFor(model => model.productPrice, "", new { @class = "text-danger" })
                </div>

                <label for="price" class="col-md-2">Total Price Supplied</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.totalPriceSupplied, new { htmlAttributes = new { @class = "form-control", placeholder = "total purchase price e.g, 20000 " } })
                    @Html.ValidationMessageFor(model => model.totalPriceSupplied, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="price" class="col-md-2">Unit Selling Price</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.unitSellingPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "item selling price per unit e.g, 20000 " } })
                    @Html.ValidationMessageFor(model => model.unitSellingPrice, "", new { @class = "text-danger" })
                </div>

                <label for="price" class="col-md-2">Vendor</label>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.vendor, new { htmlAttributes = new { @class = "form-control", placeholder = "Name of vendor" } })
                    @Html.ValidationMessageFor(model => model.vendor, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-md-2">Quantity Supplied</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.productAmount, new { htmlAttributes = new { @class = "form-control", placeholder = "e.g, 300 " } })
                    @Html.ValidationMessageFor(model => model.productAmount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="Desc" class="col-md-2">Item Description</label>
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.productDesc, new { htmlAttributes = new { @class = "form-control", width = "100%", id = "txtarea" } })

                    @Html.ValidationMessageFor(model => model.productDesc, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="checkbox">
                <label>
                    @Html.EditorFor(model => model.isActive) <b>Make product available for Orders ?</b>
                </label>
            </div>


            <div class="form-group">
                <label for="Desc" class="col-md-2">Product Icon</label>
                <div class="col-md-8">

                    <input type="file" name="iconFile" id="iconFile" class="form-control">

                    @Html.ValidationMessageFor(model => model.productPhoto, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

        </div>
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-default" value="Create">Submit</button>
                </div>
            </div>

        }

    </div>
</div>
<script>
    document.getElementById("txtarea").style.width = "200px";
</script>
