﻿@model CInventory.Models.tblProducts

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblProducts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
