﻿@model CInventory.Models.tblProducts

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblProducts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.addedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
